In [6]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
import statsmodels.api as sm
%matplotlib inline

In [2]:
df = pd.read_csv('D:\ML Practicals\insurance.csv')
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [3]:
b = df.bmi.unique()
b

array([27.9  , 33.77 , 33.   , 22.705, 28.88 , 25.74 , 33.44 , 27.74 ,
       29.83 , 25.84 , 26.22 , 26.29 , 34.4  , 39.82 , 42.13 , 24.6  ,
       30.78 , 23.845, 40.3  , 35.3  , 36.005, 32.4  , 34.1  , 31.92 ,
       28.025, 27.72 , 23.085, 32.775, 17.385, 36.3  , 35.6  , 26.315,
       28.6  , 28.31 , 36.4  , 20.425, 32.965, 20.8  , 36.67 , 39.9  ,
       26.6  , 36.63 , 21.78 , 30.8  , 37.05 , 37.3  , 38.665, 34.77 ,
       24.53 , 35.2  , 35.625, 33.63 , 28.   , 34.43 , 28.69 , 36.955,
       31.825, 31.68 , 22.88 , 37.335, 27.36 , 33.66 , 24.7  , 25.935,
       22.42 , 28.9  , 39.1  , 36.19 , 23.98 , 24.75 , 28.5  , 28.1  ,
       32.01 , 27.4  , 34.01 , 29.59 , 35.53 , 39.805, 26.885, 38.285,
       37.62 , 41.23 , 34.8  , 22.895, 31.16 , 27.2  , 26.98 , 39.49 ,
       24.795, 31.3  , 38.28 , 19.95 , 19.3  , 31.6  , 25.46 , 30.115,
       29.92 , 27.5  , 28.4  , 30.875, 27.94 , 35.09 , 29.7  , 35.72 ,
       32.205, 28.595, 49.06 , 27.17 , 23.37 , 37.1  , 23.75 , 28.975,
       31.35 , 33.915, 28.785, 28.3  , 37.4  , 17.765, 34.7  , 26.505,
       22.04 , 35.9  , 25.555, 28.05 , 25.175, 31.9  , 36.   , 32.49 ,
       25.3  , 29.735, 38.83 , 30.495, 37.73 , 37.43 , 24.13 , 37.145,
       39.52 , 24.42 , 27.83 , 36.85 , 39.6  , 29.8  , 29.64 , 28.215,
       37.   , 33.155, 18.905, 41.47 , 30.3  , 15.96 , 33.345, 37.7  ,
       27.835, 29.2  , 26.41 , 30.69 , 41.895, 30.9  , 32.2  , 32.11 ,
       31.57 , 26.2  , 30.59 , 32.8  , 18.05 , 39.33 , 32.23 , 24.035,
       36.08 , 22.3  , 26.4  , 31.8  , 26.73 , 23.1  , 23.21 , 33.7  ,
       33.25 , 24.64 , 33.88 , 38.06 , 41.91 , 31.635, 36.195, 17.8  ,
       24.51 , 22.22 , 38.39 , 29.07 , 22.135, 26.8  , 30.02 , 35.86 ,
       20.9  , 17.29 , 34.21 , 25.365, 40.15 , 24.415, 25.2  , 26.84 ,
       24.32 , 42.35 , 19.8  , 32.395, 30.2  , 29.37 , 34.2  , 27.455,
       27.55 , 20.615, 24.3  , 31.79 , 21.56 , 28.12 , 40.565, 27.645,
       31.2  , 26.62 , 48.07 , 36.765, 33.4  , 45.54 , 28.82 , 22.99 ,
       27.7  , 25.41 , 34.39 , 22.61 , 37.51 , 38.   , 33.33 , 34.865,
       33.06 , 35.97 , 31.4  , 25.27 , 40.945, 34.105, 36.48 , 33.8  ,
       36.7  , 36.385, 34.5  , 32.3  , 27.6  , 29.26 , 35.75 ])

In [4]:
#removing null data
df = df.dropna()

In [5]:
x = df[['age']]
y = df[["smoker"]]

In [8]:
z = sm.add_constant(x)
result = sm.OLS(y,z).fit()

In [9]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 smoker   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.003
Method:                 Least Squares   F-statistic:                   0.04066
Date:                Wed, 03 Feb 2021   Prob (F-statistic):              0.840
Time:                        17:08:46   Log-Likelihood:                -194.02
No. Observations:                 348   AIC:                             392.0
Df Residuals:                     346   BIC:                             399.7
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.2454      0.066      3.691      0.000       0.115       0.376
age           -0.0003      0.002     -0.202      0.840      -0.003       0.003
==============================================================================
Omnibus:                       64.349   Durbin-Watson:                   1.882
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               95.072
Skew:                           1.265   Prob(JB):                     2.27e-21
Kurtosis:                       2.600   Cond. No.                         123.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [10]:
dummy=pd.get_dummies(df['children'])
dummy.head()

   0  1  2  3  4  5
0  1  0  0  0  0  0
1  0  1  0  0  0  0
2  0  0  0  1  0  0
3  1  0  0  0  0  0
4  1  0  0  0  0  0

In [11]:
df1=pd.concat((df,dummy),axis=1)

In [12]:
df1.head()

   age  sex     bmi  children  smoker  region      charges  0  1  2  3  4  5
0   19    0  27.900         0       1       3  16884.92400  1  0  0  0  0  0
1   18    1  33.770         1       0       2   1725.55230  0  1  0  0  0  0
2   28    1  33.000         3       0       2   4449.46200  0  0  0  1  0  0
3   33    1  22.705         0       0       1  21984.47061  1  0  0  0  0  0
4   32    1  28.880         0       0       1   3866.85520  1  0  0  0  0  0

In [15]:
x2= df1[['children']]

y=df1[['smoker']]

In [16]:
x = sm.add_constant(x2)
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 smoker   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.003
Method:                 Least Squares   F-statistic:                  0.002269
Date:                Wed, 03 Feb 2021   Prob (F-statistic):              0.962
Time:                        17:18:37   Log-Likelihood:                -194.04
No. Observations:                 348   AIC:                             392.1
Df Residuals:                     346   BIC:                             399.8
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.2338      0.031      7.582      0.000       0.173       0.294
children      -0.0009      0.019     -0.048      0.962      -0.038       0.037
==============================================================================
Omnibus:                       64.365   Durbin-Watson:                   1.882
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               95.102
Skew:                           1.265   Prob(JB):                     2.23e-21
Kurtosis:                       2.600   Cond. No.                         2.66
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [17]:
x3= df1[['bmi']]
y=df1[['charges']]

In [18]:
x = sm.add_constant(x3)
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.044
Model:                            OLS   Adj. R-squared:                  0.041
Method:                 Least Squares   F-statistic:                     15.97
Date:                Wed, 03 Feb 2021   Prob (F-statistic):           7.86e-05
Time:                        17:19:40   Log-Likelihood:                -3772.1
No. Observations:                 348   AIC:                             7548.
Df Residuals:                     346   BIC:                             7556.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -459.6578   3682.591     -0.125      0.901   -7702.739    6783.423
bmi          471.8941    118.082      3.996      0.000     239.645     704.143
==============================================================================
Omnibus:                       51.310   Durbin-Watson:                   2.030
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               71.463
Skew:                           1.106   Prob(JB):                     3.03e-16
Kurtosis:                       3.177   Cond. No.                         173.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [21]:
x3= df1[['bmi']]

y=df1[['charges']]

In [22]:
x = sm.add_constant(x3)
 
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.044
Model:                            OLS   Adj. R-squared:                  0.041
Method:                 Least Squares   F-statistic:                     15.97
Date:                Wed, 03 Feb 2021   Prob (F-statistic):           7.86e-05
Time:                        17:22:32   Log-Likelihood:                -3772.1
No. Observations:                 348   AIC:                             7548.
Df Residuals:                     346   BIC:                             7556.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -459.6578   3682.591     -0.125      0.901   -7702.739    6783.423
bmi          471.8941    118.082      3.996      0.000     239.645     704.143
==============================================================================
Omnibus:                       51.310   Durbin-Watson:                   2.030
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               71.463
Skew:                           1.106   Prob(JB):                     3.03e-16
Kurtosis:                       3.177   Cond. No.                         173.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [23]:
dummy1=pd.get_dummies(df1['smoker'])
dummy1.head()

   0  1
0  0  1
1  1  0
2  1  0
3  1  0
4  1  0

In [24]:
df2=pd.concat((df1,dummy1),axis=1)
df2.head()

,age,sex,bmi,children,smoker,region,charges,0,1,2,3,4,5,0,1
0,19,0,27.900,0,1,3,16884.92400,1,0,0,0,0,0,0,1
1,18,1,33.770,1,0,2,1725.55230,0,1,0,0,0,0,1,0
2,28,1,33.000,3,0,2,4449.46200,0,0,0,1,0,0,1,0
3,33,1,22.705,0,0,1,21984.47061,1,0,0,0,0,0,1,0
4,32,1,28.880,0,0,1,3866.85520,1,0,0,0,0,0,1,0

In [27]:
obj_df = df2.select_dtypes(include=['object']).copy()

In [30]:
df3=pd.concat((df2,obj_df),axis=1)

In [31]:
df3.head()

,age,sex,bmi,children,smoker,region,charges,0,1,2,3,4,5,0,1
0,19,0,27.900,0,1,3,16884.92400,1,0,0,0,0,0,0,1
1,18,1,33.770,1,0,2,1725.55230,0,1,0,0,0,0,1,0
2,28,1,33.000,3,0,2,4449.46200,0,0,0,1,0,0,1,0
3,33,1,22.705,0,0,1,21984.47061,1,0,0,0,0,0,1,0
4,32,1,28.880,0,0,1,3866.85520,1,0,0,0,0,0,1,0

In [33]:
df3=df3.drop(['region'],axis=1)
df3.head()

   age  sex     bmi  children  smoker      charges  0  1  2  3  4  5  0  1
0   19    0  27.900         0       1  16884.92400  1  0  0  0  0  0  0  1
1   18    1  33.770         1       0   1725.55230  0  1  0  0  0  0  1  0
2   28    1  33.000         3       0   4449.46200  0  0  0  1  0  0  1  0
3   33    1  22.705         0       0  21984.47061  1  0  0  0  0  0  1  0
4   32    1  28.880         0       0   3866.85520  1  0  0  0  0  0  1  0

In [39]:
x7= df3[['age',5]]
y=df3[['charges']]

In [40]:
x = sm.add_constant(x7)
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.102
Model:                            OLS   Adj. R-squared:                  0.096
Method:                 Least Squares   F-statistic:                     19.52
Date:                Wed, 03 Feb 2021   Prob (F-statistic):           9.34e-09
Time:                        21:19:55   Log-Likelihood:                -3761.3
No. Observations:                 348   AIC:                             7529.
Df Residuals:                     345   BIC:                             7540.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       3146.9391   1900.854      1.656      0.099    -591.783    6885.661
age          275.4380     44.985      6.123      0.000     186.958     363.918
5          -4134.5314   7005.377     -0.590      0.555   -1.79e+04    9644.092
==============================================================================
Omnibus:                       84.352   Durbin-Watson:                   2.046
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              142.172
Skew:                           1.505   Prob(JB):                     1.34e-31
Kurtosis:                       3.864   Cond. No.                         459.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [41]:
x10= df3[['age','bmi','children',2,3,5]]

y=df3[['charges']]

In [42]:
x = sm.add_constant(x10)
 
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.140
Model:                            OLS   Adj. R-squared:                  0.125
Method:                 Least Squares   F-statistic:                     9.238
Date:                Wed, 03 Feb 2021   Prob (F-statistic):           2.19e-09
Time:                        21:21:37   Log-Likelihood:                -3753.8
No. Observations:                 348   AIC:                             7522.
Df Residuals:                     341   BIC:                             7549.
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -7936.2669   3770.072     -2.105      0.036   -1.54e+04    -520.742
age          251.0640     44.874      5.595      0.000     162.800     339.328
bmi          373.7336    114.419      3.266      0.001     148.678     598.789
children    -424.8482    988.085     -0.430      0.667   -2368.358    1518.661
2           3007.1434   2264.662      1.328      0.185   -1447.322    7461.609
3           3926.5734   3186.345      1.232      0.219   -2340.793    1.02e+04
5          -2081.1339   8238.355     -0.253      0.801   -1.83e+04    1.41e+04
==============================================================================
Omnibus:                       63.237   Durbin-Watson:                   2.067
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               95.165
Skew:                           1.273   Prob(JB):                     2.16e-21
Kurtosis:                       3.292   Cond. No.                         689.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""